---
import SiteLayout from "@layouts/SiteLayout.astro";
import Timeline from "@components/Timeline.astro";
import Projects from "@components/Projects.astro";
import Gokul from "@images/gokul.jpg";
import {companies} from "@constants/works.json";

const then: any = new Date("2015-11-15");
const now: any = new Date();
const totalYearOfExp: any = new Date(now - then).getFullYear() - 1970;
---
<!-- mx-auto overflow-auto scroll-auto -->
<SiteLayout title="About Me">
  <div class="mx-5 sm:mx-16">
    <article class="flex flex-col space-y-6">
      <section class="space-y-2">
        <img
          class="float-left w-32 rounded-full mx-3 drop-shadow-lg cursor-pointer filter dark:grayscale"
          src={Gokul.src}
        />
        <p class="para-left">
          Thanks for dropping by and checking out! Innovative and
          deadline-driven Programmer with {totalYearOfExp}+ years of experience
          designing and developing enterprise level applications and APIs with
          Python & JavaScript
        </p>
        <p class="para">
          Anyway, this is probably a good place to stop. There’s more to my life
          than what I feel comfortable sharing here, but that’s about the gist
          of my background and interests. If you made it this far, cool! You’re
          still awake! Maybe we can chat sometime and get to know each other.
        </p>
        <p class="para">
          At the end of the day, I’m just a Real Human Bean who enjoys doing
          real human things. If that sounds like your cup of tea, get in
          touch—I’d love to hear from you!
        </p>
      </section>
      <section class="space-y-2">
        <h2 class="subtitle">Work Experience</h2>
        <div class="p-4">
          <Timeline works={companies} />
        </div>
      </section>
      <section class="space-y-2">
        <h2 class="subtitle">Projects</h2>
        <Projects projects={companies} />
      </section>
      </section>
      <section class="space-y-2">
        <h2 class="subtitle">Education</h2>
      </section>
    </article>
  </div>
</SiteLayout>
