---
interface Props {
  title: string;
  description: string;
  day: string;
  date: string;
  month: string;
  year: number;
  href: string;
}

const { title, description, day, date, month, year, href } = Astro.props;
import DoubleArrow from "../../public/icons/double_arrow_right.svg?raw";
---

<a href={href}>
  <div class="grid grid-rows-2 grid-flow-col">
    <div class="row-span-2">
      <div class="flex flex-col items-center">
        <span class="text-2xl">{date}</span>
        <span class="text-sm">{month} {year}</span>
      </div>
    </div>
    <div class="col-span-2 text-lg">
      {title}
    </div>
    <div class="col-span-2 text-sm">
		<!-- <Fragment set:html={DoubleArrow} /> -->
		{description}
    </div>
  </div>
</a>
