---
interface Props {
  title: string;
  description: string;
  day: string;
  date: string;
  month: string;
  year: number;
  href: string;
}

const { title, description, day, date, month, year, href } = Astro.props;
import OpenNew from "@images/open_in_new.svg?raw";
---

<table class="border-collapse">
  <tbody>
    <tr>
      <td class="w-1/4 sm:w-/1/6">
        <div class="flex flex-col items-center">
          <span class="text-xl">{date}</span>
          <span class="text-sm">{month} {year}</span>
        </div>
      </td>
      <td class="w-3/4 sm:w-5/6">
        <a href={href}>
          <div class="flex flex-row text-lg">
            <span>{title}</span>&nbsp;
            <span class="h-5"><Fragment set:html={OpenNew} /></span>
          </div>
          <div class="text-sm line-clamp-1">
            {description}
          </div>
        </a>
      </td>
    </tr>
  </tbody>
</table>
