---
import LinkedIn from "@images/linkedin.svg?raw";
import Github from "@images/github.svg?raw";
import Twitter from "@images/twitter.svg?raw";
import Youtube from "@images/youtube.svg?raw";
import Facebook from "@images/facebook.svg?raw";
import Instagram from "@images/instagram.svg?raw";
const username = "gokulvenkats";
const socialMedia = [
  {
    name: "Linked In",
    url: `https://linkedin.com/in/${username}`,
    icon: LinkedIn,
    show: true,
  },
  {
    name: "Github",
    url: `https://github.com/${username}`,
    icon: Github,
    show: true,
  },
  {
    name: "X-Twitter",
    url: `https://x.com/${username}`,
    icon: Twitter,
    show: true,
  },
  {
    name: "Youtube",
    url: `https://www.youtube.com/@${username}`,
    icon: Youtube,
    show: true,
  },
  {
    name: "Facebook",
    url: "",
    icon: Facebook,
    show: false,
  },
  {
    name: "Instagram",
    url: "",
    icon: Instagram,
    show: false,
  },
];
---

<div class="flex justify-center items-center gap-6 my-6">
  {
    socialMedia.map((link) => (
      <a
        href={link.url}
        target="_blank"
        class={link.show ? "" : "hidden"}
        aria-label={link.name}
      >
        <Fragment set:html={link.icon} />
      </a>
    ))
  }
</div>
